<jce-user-form (userAddedEvent) = "addUser($event)"></jce-user-form>
<div>
 <table>  
   <tr>
     <th>Name</th>
      <th>Email</th>
  </tr>
  <tr *ngFor = "let user of users" [class.active]="currentUser == user">
    <td>{{user.name}}</td>
     <td>{{user.email}}</td>
  </tr>
 </table>
</div>
