<span *ngIf = "!isEdit"> Title: {{post.title}}, Content: {{post.body}}</span>
<span *ngIf = "isEdit">
    Title: <input type = "text" [(ngModel)] = "post.title">
    Content: <input type = "text" [(ngModel)] = "post.body">
  </span>
<button (click) = "toggleEdit()">{{editButtonText}}</button>
<button (click) = "sendDelete()">Delete</button>
<button *ngIf = "isEdit" (click) = "sendCancle()">Cancle</button>