<jce-post-form (postAddedEvent) = "addPost($event)"></jce-post-form>
<jce-spinner [visible] = "IsLoading"></jce-spinner> 
<div>
  <ul class="list-group posts">
    <li *ngFor= "let post of posts" class ="list-group item">
      <jce-post [post]="post"
      (deleteEvent) = "deletePost($event)"
      (saveEvent) = "savePost($event)"
      (editEvent) = "updatePost($event)"></jce-post>  
      <ul>
          <li *ngFor = "let user of post.username">
            {{(user | async)?.name}}
          </li>
      </ul>
    </li>
  </ul>
</div>
